<ion-view view-title="Open RQ Code ">
    <ion-content>
        <div class="card" ng-click="goHome()">
            <div class="item item-avatar">
                <img src="../img/icon.png">
                <h2>Recipe Reegister</h2>
            </div>

            <div class="item item-divider">
                <h2>Recipe Register Project</h2>
            </div>

            <div class="item item-body">
                This is the mobile application for Recipe Register. Recipe Register is a capstone project for Full Stack
                Development Specialization at Coursera. Zsolt Szikora zsolt.szikora@gmail.com
                <div class="button button-block">
                    < Please go back
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
