<ion-view view-title="Recipe Register">
    <ion-content>

        <ion-item ng-repeat="recipe in recipes" ng-click="gotoRecipe()">
            <div class="item item-divider">
                {{recipe.type}} Recipe
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img ng-src="{{getFirstImgSrc(recipe)}}" alt="thumbnail">
                <h2>{{recipe.name}}</h2>
                <p>{{recipe.steps[0]}}</p>
            </div>
        </ion-item>

    </ion-content>
</ion-view>
