<ion-view view-title="Open RQ Code ">
    <ion-content>
        <div class="card" ng-click="goHome()">
            <div class="item item-divider">
                <h2>TODO implement me</h2>
            </div>
            <div class="item">
                <div class="button button-block">
                    < Please go back
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
