<ion-side-menus enable-menu-with-back-views="false">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mainContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title">recipeRegister</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-divider item-icon-right" ng-if="loggedIn">
                    {{username}}<i class="icon ion-person"></i>
                </ion-item>

                <ion-item menu-close class="item-icon-right" href="#/app/home">
                    Recipes<i class="icon ion-home"></i>
                </ion-item>

                <ion-item menu-close class="item-icon-right" href="#/app/open-qr">
                    Open QR Code<i class="icon ion-qr-scanner"></i>
                </ion-item>

                <ion-item menu-close class="item-icon-right" href="#/app/create-recipe">
                    Create Recipe<i class="icon ion-plus"></i>
                </ion-item>
                <ion-item class="item-divider"></ion-item>
                <ion-item menu-close class="item-icon-right" ng-click="login()" ng-if="!loggedIn">
                    Login<i class="icon ion-log-in"></i>
                </ion-item>
                <ion-item menu-close class="item-icon-right" ng-click="logOut()" ng-if="loggedIn">
                    Logout<i class="icon ion-log-out"></i>
                </ion-item>
                <ion-item menu-close class="item-icon-right" ng-click="register()" ng-if="!loggedIn">
                    Register<i class="icon ion-person-add"></i>
                </ion-item>
                <ion-item menu-close class="item-icon-right" href="#/app/about">
                    About<i class="icon ion-information-circled"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
