<div class="container">
    <div class="row ">
        <div class="list-group col-xs-12">
            <div class="list-group-item list-group-item-success"> Recipe Register</div>
            <div class="list-group-item">
                <div class="media list-group">
                    <div class="media-left">
                        <img class="media-object" src="../images/logo.png" width="100" alt="Recipe Register">
                    </div>
                    <div class="media-body">
                        <h1 class="media-heading"> Recipe Register Web App</h1>
                        <div class="media-body">
                            Web application for Recipe Register. Recipe Register is a capstone project for Full Stack
                            Development Specialization at Coursera. <br/>
                            Zsolt Szikora zsolt.szikora@gmail.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
