<nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app"><img src="images/logo.png" height=25 width=25></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active: stateis('app')}">
                    <a ui-sref="app"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Recipes</a>
                </li>
                <li ng-class="{active: stateis('app.menus')}">
                    <a ui-sref="app.menus"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Menus</a>
                </li>
                <li ng-class="{active: stateis('app.settings') || stateis('app.dishdetails')}">
                    <a ui-sref="app.settings"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings</a>
                </li>
                <li ng-class="{active: stateis('app.about')}">
                    <a ui-sref="app.about"> <i class="fa fa-info"></i> About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!loggedIn"><a ng-click="openLogin()">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li ng-if="loggedIn">
                    <a>{{username}}</a>
                </li>
                <li ng-if="loggedIn">
                    <a ng-click="logOut()">
                        <span class="glyphicon glyphicon-log-in"></span> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
