<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 col-sm-push-9">
            <div class="h1">Top List</div>
            <p>TODO: display top tags here</p>
        </div>
        <div class="col-xs-12 col-sm-9 col-sm-pull-3">
            <div class="input-group input-group-lg">
                <span class="input-group-addon" id="search-addon">Instant search</span>
                <input type="text"
                       class="form-control"
                       placeholder="Type here to search recipes"
                       ng-model="searchStr"
                       ng-model-options="{debounce: 1000}"
                       aria-describedby="search-addon">
            </div>
            <br/>
            <div ng-if="!showRecipes">
                <h3>{{message}}</h3>
            </div>
            <div ng-if="showRecipes">
                <ul>
                    <li class="media" ng-repeat="recipe in recipes" ui-sref="app.recipe({id: recipe._id})">
                        <div class="media-left media-middle">
                            <img class="media-object img-thumbnail"
                                 ng-src="{{getFirstImgSrc(recipe)}}"
                                 width="120" alt="{{recipe.name}}">
                        </div>
                        <div class="media-body"><h2 class="media-heading">{{recipe.name}} </h2>
                        {{recipe.description}}
                        </div>
                        <div class="media-right"><span class="label label-info">{{recipe.viewCount}} views</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
