<div id="myCarousel" class="carousel slide autoplay"
     data-ride="carousel"
     data-interval="3000">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active">
        </li>
        <li ng-repeat="image in carouselImages.slice(1)"
            data-target="#myCarousel"
            data-slide-to="{{$index + 1}}">
        </li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img ng-src="{{imgSrc(carouselImages[0])}}" alt="image">
        </div>
        <div class="item" ng-repeat="image in carouselImages.slice(1)">
            <img ng-src="{{imgSrc(image)}}" alt="image">
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" data-target='#myCarousel' role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" data-target='#myCarousel' role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>
