<div class="ngdialog-message">
    <div>
        <h3>Image Upload</h3>
    </div>
    <section class="background colourful"></section>

    <div class="row">

        <droplet ng-model="interface">
            <div class="col-sm-12">

                <div class="list-group">

                    <div class="list-group-item list-group-item-success"> Files to upload</div>

                    <div class="list-group-item">
                        <div class="row">
                            <div class="col" ng-show="interface.getFiles(interface.FILE_TYPES.ALL).length ==0"> Please Drop image(s) here</div>
                            <div class="col col-sm-3"
                                 ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                                <droplet-preview ng-model="model"></droplet-preview>
                                <section class="filename">{{model.file.name}}</section>
                            </div>
                        </div>
                    </div>

                    <div class="list-group-item">

                        <label>Debug info: </label> Valid file(s): {{interface.getFiles(interface.FILE_TYPES.VALID).length}}
                        <span ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)"> {{model.file.name}}</span><br/>
                        <span> Invalid: </span>{{interface.getFiles(interface.FILE_TYPES.INVALID).length}}
                        <span> Uploaded: </span>{{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}
                        <span> Deleted: </span>{{interface.getFiles(interface.FILE_TYPES.DELETED).length}}
                        <span> Total: </span> {{interface.getFiles().length}}
                    </div>

                    <div class="list-group-item">
                            <button type="button" class="btn btn-sm btn-default">
                                <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                            </button>
                            <button type="button" class="btn btn-sm btn-default" ng-click="interface.uploadFiles(); ">
                                Upload files
                            </button>
                    </div>


                </div>


            </div>
        </droplet>

    </div>
</div>


</div>