<div class="container">
    <div class="row row-content">

        <div class="col-xs-12" ng-if="!showRecipe"><h3>{{message}}</h3></div>
        <div class="col-xs-12" ng-if="showRecipe && recipe.type=='TEXT'">
            <ng-include src="'views/text-recipe.html'"></ng-include>
        </div>

    </div>
</div>