<div class="row">

    <div class="col-xs-12 col-sm-12">

        <div class="media list-group">
            <div class="media-left">
                <img class="media-object" ng-src="{{imgSrc(recipe.images[0])}}" width="120" alt="{{recipe.name}}">
            </div>
            <div class="media-body">
                <h1 class="media-heading" ng-show="editEnabled" editable-textarea="recipe.name"> {{recipe.name}}</h1>
                <h1 class="media-heading" ng-show="!editEnabled"> {{recipe.name}}</h1>
                <div class="caption">
                    Posted by {{recipe.createdBy.username}} at {{recipe.createdAt | date:'yyyy-MMM-dd' }}
                </div>
            </div>
            <div class="media-right">
                <span class="label label-info">{{recipe.viewCount}} views</span>
                <div class="btn btn-lg btn-primary" ng-show="ownedByUser && !editEnabled" ng-click="setEditEnabled(true)">Edit</div>
                <div class="btn-group-vertical" ng-show="ownedByUser && editEnabled">
                    <div class="btn btn-lg btn-default" ng-click="reloadPage()">Cancel</div>
                    <div class="btn btn-lg btn-primary" ng-click="doUpdate()">Update</div>
                </div>
            </div>
        </div>

        <div class="list-group col-xs-12 col-sm-4">
            <div class="list-group-item list-group-item-success"> Ingredients</div>
            <div class="list-group-item" ng-show="editEnabled"
                 ng-repeat="ingredient in recipe.ingredients track by $index"
                 editable-textarea="recipe.ingredients[$index]">
                <button type="button" class="btn btn-sm btn-default" aria-label=Remove"
                        ng-click="removeIngredient($index); $event.stopPropagation()">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
                {{ingredient}}
            </div>
            <div class="list-group-item" ng-show="editEnabled">
                <button type="button" class="btn btn-sm btn-default btn-block" aria-label=Add"
                        ng-click="addIngredient($index)">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
            <div class="list-group-item" ng-show="!editEnabled"
                 ng-repeat="ingredient in recipe.ingredients track by $index">
                {{ingredient}}
            </div>
        </div>

        <div class="list-group col-xs-12 col-sm-8">
            <div class="list-group-item list-group-item-success"> Steps</div>
            <div class="list-group-item" ng-show="editEnabled" ng-repeat="step in recipe.steps track by $index"
                 editable-textarea="recipe.steps[$index]">
                <button type="button" class="btn btn-sm btn-default" aria-label=Remove"
                        ng-click="removeStep($index); $event.stopPropagation()">
                    <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                </button>
                {{recipe.steps[$index]}}
            </div>
            <div class="list-group-item" ng-show="editEnabled">
                <button type="button" class="btn btn-sm btn-default btn-block" aria-label=Add"
                        ng-click="addStep($index)">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                </button>
            </div>
            <div class="list-group-item" ng-show="!editEnabled" ng-repeat="step in recipe.steps track by $index">
                {{step}}
            </div>
        </div>

        <div class="list-group col-xs-12 col-sm-8">
            <div class="list-group-item list-group-item-success"> Comments</div>
            <div class="list-group-item" ng-repeat="comment in recipe.comments track by $index">
                <div class="label label-info">
                    {{comment.createdBy.username}} at {{comment.createdAt |date:'yyyy-MMM-dd'}} <span class="badge">{{comment.rating}}</span>
                </div>
                <p>
                    <button type="button" class="btn btn-sm btn-default" ng-show="editEnabled" aria-label=Remove"
                            ng-click="removeComment($index); $event.stopPropagation()">
                        <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                    </button>
                    {{comment.text}}
                </p>
            </div>
            <div class="list-group-item">
                <h4>Your comment</h4>

                <!-- comment form inside the last list-group item -->
                <form class="form-horizontal" id="commentForm" name="commentForm" ng-submit="submitComment()"
                      novalidate>

                    <div class="form-group">
                        <label for="ratings" class="col-sm-2 control-label">Rating</label>
                        <div id="ratings" class="btn-group btn-group-sm">
                            <label ng-repeat="i in [1,2,3,4,5]" class="btn"
                                   ng-class="{'btn-info': mycomment.rating != i, 'btn-primary': mycomment.rating == i}">
                                <input type="radio" class="btn" name="rating" ng-model="mycomment.rating"
                                       id="rating{{i}}" ng-value=i ng-hide="true"> {{i}}
                            </label>
                        </div>
                    </div>

                    <div class="form-group"
                         ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                        <label for="commentText" class="col-sm-2 control-label">Text</label>
                        <div class="col-sm-10" id="commentText">
                            <textarea class="form-control" rows="4" name="comments" ng-model="mycomment.text"
                                      required></textarea>
                            <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine"
                                  class="help-block">Your comments are required.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit
                                Comment
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>

<div class="row">


    <div class="list-group col-xs-12 col-sm-12" ng-show="!editEnabled">

        <div ng-if="recipe.images.length == 1">
            <div class="list-group col-xs-12">
                <div class="list-group-item list-group-item-success"> Image</div>
                <div class="list-group-item">
                    <img class="media-object" ng-src="{{imgSrc(recipe.images[0])}}" width="100%" height="100%"
                         alt="{{recipe.name}}">
                </div>
            </div>
        </div>

        <div ng-if="recipe.images.length > 1">
            <div class="list-group col-xs-12">
                <div class="list-group-item list-group-item-success"> Images</div>
                <div class="list-group-item">
                    <div class="list-group">
                        {{carouselImages = recipe.images; ""}}
                        <ng-include src="'views/image-carousel.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-group col-xs-12 col-sm-6" ng-show="editEnabled">

        <div class="list-group-item list-group-item-success"> Images</div>
        <div class="list-group-item">

            <div class="row">
                <div class="col-sm-6 col-md-3" ng-repeat="image in recipe.images track by $index">
                    <div class="thumbnail">
                        <img ng-src="{{imgSrc(image)}}" alt="image"/>
                        <div class="caption" align="center">
                            <button class="btn btn-default" ng-click="removeImage($index)" role="remove image">
                                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="list-group-item">
            <button type="button" class="btn btn-sm btn-default btn-block" aria-label=Add"
                    ng-click="openImageUpload()">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
        </div>
    </div>

</div>
